<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do list</title>
</head>
<body>
    <h1>It's not weekend!</h1>
    <h1>Why are you not working!</h1>
    
    <!-- ejs codes getting error by keeping there -->
    <!-- <% if(kindOfDay === "Sunday" || kindOfDay === "Saturday"){ %>
        <h1 style="color:Yellow;"><%= kindOfDay %> ToDo list</h1>
   <% }else{ %>
    <h1 style="color:red;"><%= kindOfDay %> ToDo list</h1>
<% } %> -->
</body>
</html>