
<%- include("header") %>

<h2>This is the about page!</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum facilis quia aliquid dolore quos corrupti, ex, odio eaque dolores in voluptatum est praesentium vero eius. Nemo neque at fuga facilis placeat unde libero vitae.</p>

<%- include("footer") %>